@using Microsoft.AspNet.Identity
@using eLibrary.Models

@{
    HttpContext.Current.User.Identity.GetUserId();
    string userId = User.Identity.GetUserId();
    var user = (new ApplicationDbContext()).Users.FirstOrDefault(s => s.Id == userId);
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {

        @Html.AntiForgeryToken()




        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">


                @if (!user.IsAdministrator)
                {

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Livros/Index">Livros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Reservas/Index">Minhas Reservas</a>
                    </li>

                }
                else
                {

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Categorias/Index">Categoria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Assuntos/Index">Assuntos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Editoras/Index">Editoras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Livros/Index">Livros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Livros/Index">Livros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Reservas/HistoricoReservas">Reservas</a>
                    </li>

                }

                <li class="nav-item">
                    @Html.ActionLink("Bem Vindo " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link js-scroll-trigger" })
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="javascript:document.getElementById('logoutForm').submit()">Sair</a>
                </li>


            </ul>
        </div>
    }
} else { 


    <li class="nav-item">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link js-scroll-trigger" })
    </li>
    <li class="nav-item">

        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link js-scroll-trigger" })
    </li>
}
